In [1]:
%autosave 0

Autosave disabled

In [4]:
# print all the outputs in a cell
from IPython.core.interactiveshell import InteractiveShell
InteractiveShell.ast_node_interactivity = "all"

In [5]:
import pandas as pd
import numpy as np 
import seaborn as sns 
import matplotlib.pyplot as plt

# Student Performance Factors

This dataset provides a comprehensive overview of select factors affecting student performance on exams. Each observation is representative of one student's information, including information on her/his attendance, parental involvement, study hours, other aspects influencing her/his academic success, and her/his final exam scores.

A data dictionary will be provided upon cleaning the dataset to more accurately describe our variables of interest. Below is an intitial look at the DataFrame.

In [15]:
# Load the data
df = pd.read_csv("StudentPerformanceFactors.csv")

In [17]:
# Look at the data
df.head()
df.columns
df.shape

,Hours_Studied,Attendance,Parental_Involvement,Access_to_Resources,Extracurricular_Activities,Sleep_Hours,Previous_Scores,Motivation_Level,Internet_Access,Tutoring_Sessions,Family_Income,Teacher_Quality,School_Type,Peer_Influence,Physical_Activity,Learning_Disabilities,Parental_Education_Level,Distance_from_Home,Gender,Exam_Score
0,23,84,Low,High,No,7,73,Low,Yes,0,Low,Medium,Public,Positive,3,No,High School,Near,Male,67
1,19,64,Low,Medium,No,8,59,Low,Yes,2,Medium,Medium,Public,Negative,4,No,College,Moderate,Female,61
2,24,98,Medium,Medium,Yes,7,91,Medium,Yes,2,Medium,Medium,Public,Neutral,4,No,Postgraduate,Near,Male,74
3,29,89,Low,Medium,Yes,8,98,Medium,Yes,1,Medium,Medium,Public,Negative,4,No,High School,Moderate,Male,71
4,19,92,Medium,Medium,Yes,6,65,Medium,Yes,3,Medium,High,Public,Neutral,4,No,College,Near,Female,70

Index(['Hours_Studied', 'Attendance', 'Parental_Involvement',
       'Access_to_Resources', 'Extracurricular_Activities', 'Sleep_Hours',
       'Previous_Scores', 'Motivation_Level', 'Internet_Access',
       'Tutoring_Sessions', 'Family_Income', 'Teacher_Quality', 'School_Type',
       'Peer_Influence', 'Physical_Activity', 'Learning_Disabilities',
       'Parental_Education_Level', 'Distance_from_Home', 'Gender',
       'Exam_Score'],
      dtype='object')

(6607, 20)

In [ ]:
df.shape

(6607, 20)

In [11]:
df.describe()

,Hours_Studied,Attendance,Sleep_Hours,Previous_Scores,Tutoring_Sessions,Physical_Activity,Exam_Score
count,6607.000000,6607.000000,6607.00000,6607.000000,6607.000000,6607.000000,6607.000000
mean,19.975329,79.977448,7.02906,75.070531,1.493719,2.967610,67.235659
std,5.990594,11.547475,1.46812,14.399784,1.230570,1.031231,3.890456
min,1.000000,60.000000,4.00000,50.000000,0.000000,0.000000,55.000000
25%,16.000000,70.000000,6.00000,63.000000,1.000000,2.000000,65.000000
50%,20.000000,80.000000,7.00000,75.000000,1.000000,3.000000,67.000000
75%,24.000000,90.000000,8.00000,88.000000,2.000000,4.000000,69.000000
max,44.000000,100.000000,10.00000,100.000000,8.000000,6.000000,101.000000

In [12]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 6607 entries, 0 to 6606
Data columns (total 20 columns):
 #   Column                      Non-Null Count  Dtype
---  ------                      --------------  -----
 0   Hours_Studied               6607 non-null   int64
 1   Attendance                  6607 non-null   int64
 2   Parental_Involvement        6607 non-null   object
 3   Access_to_Resources         6607 non-null   object
 4   Extracurricular_Activities  6607 non-null   object
 5   Sleep_Hours                 6607 non-null   int64
 6   Previous_Scores             6607 non-null   int64
 7   Motivation_Level            6607 non-null   object
 8   Internet_Access             6607 non-null   object
 9   Tutoring_Sessions           6607 non-null   int64
 10  Family_Income               6607 non-null   object
 11  Teacher_Quality             6529 non-null   object
 12  School_Type                 6607 non-null   object
 13  Peer_Influence              6607 non-null   object
 14  Physical_Activity           6607 non-null   int64
 15  Learning_Disabilities       6607 non-null   object
 16  Parental_Education_Level    6517 non-null   object
 17  Distance_from_Home          6540 non-null   object
 18  Gender                      6607 non-null   object
 19  Exam_Score                  6607 non-null   int64
dtypes: int64(7), object(13)
memory usage: 1.0+ MB

In [13]:
df.isna().sum()

Hours_Studied                  0
Attendance                     0
Parental_Involvement           0
Access_to_Resources            0
Extracurricular_Activities     0
Sleep_Hours                    0
Previous_Scores                0
Motivation_Level               0
Internet_Access                0
Tutoring_Sessions              0
Family_Income                  0
Teacher_Quality               78
School_Type                    0
Peer_Influence                 0
Physical_Activity              0
Learning_Disabilities          0
Parental_Education_Level      90
Distance_from_Home            67
Gender                         0
Exam_Score                     0
dtype: int64

1. (20 points) Research Question & Hypotheses + Data Description 
Points are awarded based on clarity and brevity

~~a. Formulate a Central Research Question: Your project should revolve around a
central research question/theme (e.g., “What factors influence employee retention?”
“How can we reduce customer churn?”) Points awarded on clarity and relevance.~~

## Central Research Question: <b> Which factors are most correlated with student performance?

~~b. Hypothesis Development: Develop 3 hypotheses that you aim to test using the
data. Each hypothesis should be logically connected to the research question for the
above questions.~~

### Hypothesis 1: **There is a positive correlation between study hours and attendance record. Moreover, both are positively associated with exam performance.**

### Hypothesis 2: **Lower motivation levels are associated with lower exam scores, and vice versa, higher motivation levels are positively associated with higher exam scores.**

### Hypothesis 3: **High parental involvement and positive peer influence positively impact student performance in exams.**

~~c. Explain your dataset(s): What is the dataset about? What are the variables of
interest? Provide a data dictionary to define each variable’s meaning.~~

~~d. Define the unit of analysis: Clarify the unit of analysis in your dataset (what does
each observation represent)? You may need to do this repeatedly if you transform
your data.~~

## Data Preparation

~~2. (20 pts.) Data Preparation.~~

~~a. Report all code related to cleaning and preparing the data. This may include creating
new columns, cleaning existing ones, handling missing data and/or filtering data.
Your data preparation should be performed directly in the notebook.~~

~~Points are awarded based on clarity, brevity, and showing that you can use the
techniques learned in class~~

In [32]:
# copy original DataFrame to avoid any changes to the original DataFrame 
df2 = df.copy()

In [33]:
# drop unnecessary columns
df2.drop(columns = ['Access_to_Resources', 'Previous_Scores', 'Internet_Access', 'Teacher_Quality', 'Parental_Education_Level', 'Tutoring_Sessions', 'School_Type', 'Physical_Activity', 'Learning_Disabilities', 'Distance_from_Home'], inplace = True)

In [34]:
# one hot encoding
columns_to_apply_func = ['Motivation_Level', 'Family_Income', 'Peer_Influence', 'Parental_Involvement']

def f(x):
    if (x == "Low") | (x == "Negative"):
        return 0
    elif (x == 'Medium') | (x == "Neutral"):
        return 0.5
    elif (x == 'High') | (x == "Positive"):
        return 1

for col in columns_to_apply_func:
    df2[col] = df2[col].apply(f)

In [35]:
# label encoding
df2['Gender'] = df2['Gender'].map({'Female': 0, 'Male': 1})

In [ ]:
# error checking
df2.isna().sum()

Hours_Studied                 0
Attendance                    0
Parental_Involvement          0
Extracurricular_Activities    0
Sleep_Hours                   0
Motivation_Level              0
Family_Income                 0
Peer_Influence                0
Gender                        0
Exam_Score                    0
dtype: int64

### Looking at the Updated DataFrame

In [37]:
df2.head()

,Hours_Studied,Attendance,Parental_Involvement,Extracurricular_Activities,Sleep_Hours,Motivation_Level,Family_Income,Peer_Influence,Gender,Exam_Score
0,23,84,0.0,No,7,0.0,0.0,1.0,1,67
1,19,64,0.0,No,8,0.0,0.5,0.0,0,61
2,24,98,0.5,Yes,7,0.5,0.5,0.5,1,74
3,29,89,0.0,Yes,8,0.5,0.5,0.0,1,71
4,19,92,0.5,Yes,6,0.5,0.5,0.5,0,70

In [38]:
df2.describe()

,Hours_Studied,Attendance,Parental_Involvement,Sleep_Hours,Motivation_Level,Family_Income,Peer_Influence,Gender,Exam_Score
count,6607.000000,6607.000000,6607.000000,6607.00000,6607.000000,6607.000000,6607.000000,6607.000000,6607.000000
mean,19.975329,79.977448,0.543212,7.02906,0.453231,0.393825,0.595429,0.577267,67.235659
std,5.990594,11.547475,0.347761,1.46812,0.347899,0.371308,0.377938,0.494031,3.890456
min,1.000000,60.000000,0.000000,4.00000,0.000000,0.000000,0.000000,0.000000,55.000000
25%,16.000000,70.000000,0.500000,6.00000,0.000000,0.000000,0.500000,0.000000,65.000000
50%,20.000000,80.000000,0.500000,7.00000,0.500000,0.500000,0.500000,1.000000,67.000000
75%,24.000000,90.000000,1.000000,8.00000,0.500000,0.500000,1.000000,1.000000,69.000000
max,44.000000,100.000000,1.000000,10.00000,1.000000,1.000000,1.000000,1.000000,101.000000

In [39]:
df2.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 6607 entries, 0 to 6606
Data columns (total 10 columns):
 #   Column                      Non-Null Count  Dtype
---  ------                      --------------  -----
 0   Hours_Studied               6607 non-null   int64
 1   Attendance                  6607 non-null   int64
 2   Parental_Involvement        6607 non-null   float64
 3   Extracurricular_Activities  6607 non-null   object
 4   Sleep_Hours                 6607 non-null   int64
 5   Motivation_Level            6607 non-null   float64
 6   Family_Income               6607 non-null   float64
 7   Peer_Influence              6607 non-null   float64
 8   Gender                      6607 non-null   int64
 9   Exam_Score                  6607 non-null   int64
dtypes: float64(4), int64(5), object(1)
memory usage: 516.3+ KB

### Data Dictionary
Now that we have cleaned the data, below is a data dictionary describing each of our variables of interest.

In [40]:
description_table = pd.DataFrame({
    "Column Name": df2.columns,
    "Data Type": df2.dtypes.values
})

description_table["Description"] = [
    'Number of hours spent studying per week',
    'A percentage of classes attended',
    'Categorized by 0, 0.5, 1, with 0 being the lowest and 1 being the highest concern levels',
    'Ascribed with 0 or 1 values to indicate whether a student is involved in extracurriculars',
    'How many hours did the student sleep',
    'Categorized by 0, 0.5, 1, with 0 being the lowest and 1 being the highest motivation levels',
    'Categorized by 0, 0.5, 1, with 0 being the lowest and 1 being the highest family income levels',
    'Categorized by 0, 0.5, 1, with 0 being positive and 1 being the negative peer influence representations',
    'Categorized by 0 or 1, with 0 being Female and 1 being the Male',
    'Continuous variable representing the final exam score'
]

description_table

,Column Name,Data Type,Description
0,Hours_Studied,int64,Number of hours spent studying per week
1,Attendance,int64,A percentage of classes attended
2,Parental_Involvement,float64,"Categorized by 0, 0.5, 1, with 0 being the low..."
3,Extracurricular_Activities,object,Ascribed with 0 or 1 values to indicate whethe...
4,Sleep_Hours,int64,How many hours did the student sleep
5,Motivation_Level,float64,"Categorized by 0, 0.5, 1, with 0 being the low..."
6,Family_Income,float64,"Categorized by 0, 0.5, 1, with 0 being the low..."
7,Peer_Influence,float64,"Categorized by 0, 0.5, 1, with 0 being positiv..."
8,Gender,int64,"Categorized by 0 or 1, with 0 being Female and..."
9,Exam_Score,int64,Continuous variable representing the final exa...

3. (60 pts. = 20 pts per finding) Three findings relevant to your research question
Present three findings that help answer your research question/ test your
hypotheses. Each finding should be nontrivial.

For each finding:

a. (5 pts per finding) A brief summary of the finding (ideally, only one sentence)
addressed to management. Points are awarded based on clarity and interestingness
of the finding.

b. (10 pts per finding) A set of tables, graphs, and/or models that support the
validity of your finding. You must include at least one chart. Points are awarded
based on how convincing your evidence is.

c. (5 pts per finding) Managerial insights: answer the “So what?” question. That is,
convince the reader that your finding can be used to improve business operations
and strategy.

Points are awarded based on clarity, brevity, and how actionable your finding is.

## Hypothesis 1

## Finding 1

## Hypothesis 2

## Finding 2

## Hypothesis 3

## Finding 3

4. (10 pts) Presentation and Readability

a. Ensure the Jupyter Notebook is well-organized, with appropriate headings, clear
explanations, and attention to detail.

b. Formatting and Layout: Use clean formatting and provide sufficient explanations to
make your work easy to follow