In [1]:
%autosave 0

Autosave disabled

In [4]:
# print all the outputs in a cell
from IPython.core.interactiveshell import InteractiveShell
InteractiveShell.ast_node_interactivity = "all"

In [5]:
import pandas as pd
import numpy as np 
import seaborn as sns 
import matplotlib.pyplot as plt

# Student Performance Factors

In [15]:
# Load the data
df = pd.read_csv("StudentPerformanceFactors.csv")

In [17]:
# Look at the data
df.head()
df.columns
df.shape

,Hours_Studied,Attendance,Parental_Involvement,Access_to_Resources,Extracurricular_Activities,Sleep_Hours,Previous_Scores,Motivation_Level,Internet_Access,Tutoring_Sessions,Family_Income,Teacher_Quality,School_Type,Peer_Influence,Physical_Activity,Learning_Disabilities,Parental_Education_Level,Distance_from_Home,Gender,Exam_Score
0,23,84,Low,High,No,7,73,Low,Yes,0,Low,Medium,Public,Positive,3,No,High School,Near,Male,67
1,19,64,Low,Medium,No,8,59,Low,Yes,2,Medium,Medium,Public,Negative,4,No,College,Moderate,Female,61
2,24,98,Medium,Medium,Yes,7,91,Medium,Yes,2,Medium,Medium,Public,Neutral,4,No,Postgraduate,Near,Male,74
3,29,89,Low,Medium,Yes,8,98,Medium,Yes,1,Medium,Medium,Public,Negative,4,No,High School,Moderate,Male,71
4,19,92,Medium,Medium,Yes,6,65,Medium,Yes,3,Medium,High,Public,Neutral,4,No,College,Near,Female,70

Index(['Hours_Studied', 'Attendance', 'Parental_Involvement',
       'Access_to_Resources', 'Extracurricular_Activities', 'Sleep_Hours',
       'Previous_Scores', 'Motivation_Level', 'Internet_Access',
       'Tutoring_Sessions', 'Family_Income', 'Teacher_Quality', 'School_Type',
       'Peer_Influence', 'Physical_Activity', 'Learning_Disabilities',
       'Parental_Education_Level', 'Distance_from_Home', 'Gender',
       'Exam_Score'],
      dtype='object')

(6607, 20)

In [ ]:
df.shape

(6607, 20)

In [11]:
df.describe()

,Hours_Studied,Attendance,Sleep_Hours,Previous_Scores,Tutoring_Sessions,Physical_Activity,Exam_Score
count,6607.000000,6607.000000,6607.00000,6607.000000,6607.000000,6607.000000,6607.000000
mean,19.975329,79.977448,7.02906,75.070531,1.493719,2.967610,67.235659
std,5.990594,11.547475,1.46812,14.399784,1.230570,1.031231,3.890456
min,1.000000,60.000000,4.00000,50.000000,0.000000,0.000000,55.000000
25%,16.000000,70.000000,6.00000,63.000000,1.000000,2.000000,65.000000
50%,20.000000,80.000000,7.00000,75.000000,1.000000,3.000000,67.000000
75%,24.000000,90.000000,8.00000,88.000000,2.000000,4.000000,69.000000
max,44.000000,100.000000,10.00000,100.000000,8.000000,6.000000,101.000000

In [12]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 6607 entries, 0 to 6606
Data columns (total 20 columns):
 #   Column                      Non-Null Count  Dtype
---  ------                      --------------  -----
 0   Hours_Studied               6607 non-null   int64
 1   Attendance                  6607 non-null   int64
 2   Parental_Involvement        6607 non-null   object
 3   Access_to_Resources         6607 non-null   object
 4   Extracurricular_Activities  6607 non-null   object
 5   Sleep_Hours                 6607 non-null   int64
 6   Previous_Scores             6607 non-null   int64
 7   Motivation_Level            6607 non-null   object
 8   Internet_Access             6607 non-null   object
 9   Tutoring_Sessions           6607 non-null   int64
 10  Family_Income               6607 non-null   object
 11  Teacher_Quality             6529 non-null   object
 12  School_Type                 6607 non-null   object
 13  Peer_Influence              6607 non-null   object
 14  Physical_Activity           6607 non-null   int64
 15  Learning_Disabilities       6607 non-null   object
 16  Parental_Education_Level    6517 non-null   object
 17  Distance_from_Home          6540 non-null   object
 18  Gender                      6607 non-null   object
 19  Exam_Score                  6607 non-null   int64
dtypes: int64(7), object(13)
memory usage: 1.0+ MB

In [13]:
df.isna().sum()

Hours_Studied                  0
Attendance                     0
Parental_Involvement           0
Access_to_Resources            0
Extracurricular_Activities     0
Sleep_Hours                    0
Previous_Scores                0
Motivation_Level               0
Internet_Access                0
Tutoring_Sessions              0
Family_Income                  0
Teacher_Quality               78
School_Type                    0
Peer_Influence                 0
Physical_Activity              0
Learning_Disabilities          0
Parental_Education_Level      90
Distance_from_Home            67
Gender                         0
Exam_Score                     0
dtype: int64

1. (20 points) Research Question & Hypotheses + Data Description 
Points are awarded based on clarity and brevity

a. Formulate a Central Research Question: Your project should revolve around a
central research question/theme (e.g., “What factors influence employee retention?”
“How can we reduce customer churn?”) Points awarded on clarity and relevance.

## Central Research Question: <b> Which factors are most correlated with student performance?

b. Hypothesis Development: Develop 3 hypotheses that you aim to test using the
data. Each hypothesis should be logically connected to the research question for the
above questions.

c. Explain your dataset(s): What is the dataset about? What are the variables of
interest? Provide a data dictionary to define each variable’s meaning.

d. Define the unit of analysis: Clarify the unit of analysis in your dataset (what does
each observation represent)? You may need to do this repeatedly if you transform
your data.

2. (20 pts.) Data Preparation.

a. Report all code related to cleaning and preparing the data. This may include creating
new columns, cleaning existing ones, handling missing data and/or filtering data.
Your data preparation should be performed directly in the notebook.

Points are awarded based on clarity, brevity, and showing that you can use the
techniques learned in class

3. (60 pts. = 20 pts per finding) Three findings relevant to your research question
Present three findings that help answer your research question/ test your
hypotheses. Each finding should be nontrivial.

For each finding:

a. (5 pts per finding) A brief summary of the finding (ideally, only one sentence)
addressed to management. Points are awarded based on clarity and interestingness
of the finding.

b. (10 pts per finding) A set of tables, graphs, and/or models that support the
validity of your finding. You must include at least one chart. Points are awarded
based on how convincing your evidence is.

c. (5 pts per finding) Managerial insights: answer the “So what?” question. That is,
convince the reader that your finding can be used to improve business operations
and strategy.

Points are awarded based on clarity, brevity, and how actionable your finding is.

## Finding 1

## Finding 2

## Finding 3

4. (10 pts) Presentation and Readability

a. Ensure the Jupyter Notebook is well-organized, with appropriate headings, clear
explanations, and attention to detail.

b. Formatting and Layout: Use clean formatting and provide sufficient explanations to
make your work easy to follow